body {
  font-family: Arial, Helvetica, sans-serif;
  background: #cfdee9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 160px;
  box-sizing: border-box;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 1.4rem;
  color: #162631;
  text-align: center;
}

h3 {
  margin: 10px 0 10px 0;
  font-size: 1.2rem;
  color: #162631;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #162631;
}

p {
  display: block;
  margin-top: 6px;
  font-size: 0.95rem;
  color: #162631;
  width: 650px;
}

#registerForm label,
#loginForm label,
#resetForm label,
#updateForm label {
  align-self: self-start;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 0.95rem;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #426f8f;
  box-shadow: 0 0 6px rgba(66, 111, 143, 0.3);
  outline: none;
}

#registerForm label[for="datenschutz"] {
  align-self: center;
  margin-bottom: 0;
}

#checkbox-datenschutz {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
  align-self: flex-start;
}

input[type="file"] {
  padding: 10px;
  font-size: 0.95rem;
  float: right;
}

textarea {
  min-height: 100px;
  resize: vertical;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  width: 100%;
  max-width: 700px;

  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 350px;
  height: fit-content;
  background: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  margin: 12px auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-height: max-content;
  background: #ffffff;
  padding: 50px 150px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  margin: 12px auto;
}

main {
  min-width: 70%;
}

header {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #162631;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

button {
  width: 150px;
  padding: 10px;
  background: #426f8f;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background: #335770;
}

#loginForm button,
#registerForm button,
#resetForm button,
#updateForm button {
  width: 100%;
}

.link {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

a {
  color: #335770;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.switch {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  padding: 12px 16px;
  border-radius: 6px;
  background-color: #333;
  color: white;
  opacity: 0;
  animation: fadeInOut 4s ease forwards;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.toast.success {
  background-color: #335770;
}

.toast.error {
  background-color: #e74c3c;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

#images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 70%;
  margin-top: 20px;
  margin: 0 auto;
}

.image-card {
  display: flex;
  flex-wrap: wrap;
  background: #fafafa;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.uploaded-image {
  max-width: 100%;
  border-radius: 4px;
  display: block;
}

#time {
  font-size: 64px;
  margin: 20px;
  color: #162631;
}

#countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timer-button {
  padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    font-size:xx-large;
    font-weight: bold;
 
  }